form {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

/* Form Input & Label Wrapper */
.form-group {
  width: 100%;
  margin-bottom: 2rem;
}

/* Form Label */
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
textarea {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #e2e2e2;
  line-height: 1.5;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}

.form-group textarea {
  resize: none;
  height: 20vh;
}

/* Form Submit Button */
form button {
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-bg);
  font-size: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
}

form button:hover {
  background-color: #e8b617;
  color: #fff;
  transform: translateY(-3px);
}

form button:active {
  transform: translateY(-1px) scale(0.95);
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 40rem) {
  .form-group {
    width: 100%;
    padding-right: 1.5rem;
  }
}

@media (min-width: 60rem) {
  main {
    padding: 3rem;
    margin-left: 12rem;
  }
}
