/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --main-bg: #262626;
  --secondary-bg: #f8f4f1;
  --accent-bg: #f7c117;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--secondary-bg);
  color: #262626;
}

/* Heading Levels */
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

main {
  padding: 1.5rem;
}

main h1 {
  font-size: 2rem;
}

/*--------------------------------------------------------------
# Main Table
--------------------------------------------------------------*/

/* Main Table Wrapper */
.main-table-wrapper {
  overflow-x: scroll;
}

/* Main Table */
.main-table-wrapper table {
  margin-top: 1rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  border-radius: 0.375rem;
  border-collapse: collapse;
}

/* Main Table Header */
.main-table-wrapper table tr th {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left;
}

/* Main Table Row */
.main-table-wrapper table tr {
  border-top: 1px solid var(--secondary-bg);
}

/* Main Table Column */
.main-table-wrapper table td {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

/* Main Table Column Image */
.main-table-wrapper table img {
  max-width: 4rem;
  width: 4rem;
  height: auto;
}

/*--------------------------------------------------------------
# Add Project Button Wrapper
--------------------------------------------------------------*/

.add-project-btn-wrapper {
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}

.add-project-btn-wrapper a {
  margin-top: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-bg);
  color: #262626;
  font-size: 0.9rem;
  transition: all 200ms;
  align-self: flex-start;
}

.add-project-btn-wrapper a:hover {
  background: #e8b617;
  color: #fff;
  transform: translateY(-3px);
}

.add-project-btn-wrapper a:active {
  transform: translateY(-1px) scale(0.95);
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 30rem) {
  .add-project-btn-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 60rem) {
  main {
    padding: 3rem;
    margin-left: 12rem;
  }

  .add-project-btn-wrapper {
    justify-content: space-between;
    align-items: center;
  }
}
